$mcc-font-family: false!default; // set to false to inherit document font-family
$mcc-banner-bg-color: #444!default;
$mcc-banner-text-color: color-yiq($mcc-banner-bg-color)!default;

$mcc-link-color: #fc0!default;
$mcc-link-hover-color: darken($mcc-link-color, 10)!default;
$mcc-link-text-decoration: none!default;
$mcc-link-hover-text-decoration: underline!default;

$mcc-button-bg-color: #fc0!default;
$mcc-button-text-color: #000!default;
$mcc-button-hover-bg-color: darken($mcc-button-bg-color, 10)!default;
$mcc-button-hover-text-color: #000!default;

$mcc-box-shadow: 0 0 4px rgba(#000, .6)!default; // set to false or none to disable

.m-cookie-consent {

  box-sizing: border-box;
  @if $mcc-box-shadow {
    box-shadow: $mcc-box-shadow;
  }

  position: fixed;
  z-index: 10000;
  bottom:1rem;
  right:1rem;
  width:calc(100% - 2rem);

  @if $mcc-font-family {
    font-family: $mcc-font-family;
  }

  background-color: $mcc-banner-bg-color;
  color: $mcc-banner-text-color;
  padding:.6rem;

  animation: fadeIn 1s linear;

  &.mcc-fade-out {
    transition: opacity 1s linear;
    opacity:0;
  }

  a {
    color: $mcc-link-color;
    text-decoration: $mcc-link-text-decoration;

    &:hover {
      color: $mcc-link-hover-color;
      text-decoration: $mcc-link-hover-text-decoration;
    }
  }

  .mcc__btn {
    margin-top:2rem;
    text-align: center;
    button {
      display: block;
      width:100%;
      padding:.6rem 2rem;
      border:none;
      font-size:1.1em;
      background-color: $mcc-button-bg-color;
      color: $mcc-button-text-color;
      border-radius:4px;

      &:hover {
        background-color: $mcc-button-hover-bg-color;
        color: $mcc-button-hover-text-color;
      }
    }
  }
  .mcc-nowrap {
    white-space: nowrap;
  }

  @media screen and (min-width:736px) {
    max-width: 500px;

    .mcc__btn {
      text-align: right;
      button {
        display: inline-block;
        width: auto;
      }
    }
  }

  @media print {
    display: none;
  }
}

@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}
